.navbar-header__title {
  font-size: 36px;
  margin-top:12px;
  color: #fff;
}

.btn-square {
  height:100px;
}

.btn--send_comment {
  margin-top: 16px;
  height: 56px;
}

.row--button {
  margin-bottom: 24px;
}

.row__sep {
  border-color: #adadad;
}

.question_list {
  max-height:568px;
  overflow: auto;
}

.question {
  margin-bottom: 8px;
}

.question__time {
  font-size: 12px;
}

.question__text {
  font-size: 16px;
}
